In [4]:
import pandas as pd
import numpy as np
import os
import sys
import dill
import yaml
import streamlit_authenticator as stauth
import yaml

#### Creating Hashed values:

In [10]:
hashed_passwords = stauth.Hasher(["admin", "narenbot"]).generate()
hashed_passwords

['$2b$12$M0dTWbjtQOtSZlKS1N50YubCIgAVHu2UyYZy6n5xh7qMynK0T/Rtu',
 '$2b$12$R/mcTxX38f0E1d44PhCihenji2WVRogWeU5nqGMfIAsxHMuHz2YRq']

#### Yaml

In [5]:
with open(r"..\config\auth_config.yml") as file:
    config = yaml.safe_load(file)

config

{'credentials': {'usernames': {'admin': {'email': 'admin@gmail.com',
    'name': 'Administrator',
    'password': '$2b$12$M0dTWbjtQOtSZlKS1N50YubCIgAVHu2UyYZy6n5xh7qMynK0T/Rtu'},
   'narenbot': {'email': 'narendas10@gmail.com',
    'name': 'Narendran',
    'password': '$2b$12$R/mcTxX38f0E1d44PhCihenji2WVRogWeU5nqGMfIAsxHMuHz2YRq'}}},
 'cookie': {'expiry_days': 30,
  'key': 'some_signature_key',
  'name': 'some_cookie_name'},
 'preauthorized': {'emails': ['narendas10@gmail.com']}}

In [7]:
import yaml

with open(os.path.join("..", "config", "params.yaml")) as file:
    yaml_file = yaml.safe_load(file)

yaml_file['models']['Gradient_boost_reg']['param_grid']

{'n_estimators': [8, 16, 32, 64, 128, 256],
 'learning_rate': [0.1, 0.01, 0.05, 0.001],
 'subsample': [0.6, 0.7, 0.75, 0.8, 0.85, 0.9],
 'criterion': ['friedman_mse', 'squared_error'],
 'max_depth': [3, 5, 7]}

#### Database Data Retrieval:

In [1]:
import sqlite3
import os
import pandas as pd
database_path = os.path.join("..", "artifacts", "insurance_new.db")
conn = sqlite3.connect(database_path)
cursor = conn.cursor()
data = cursor.execute("select * from user_details")
data = data.fetchall()
columns = [desc[0] for desc in cursor.description]
print(columns)

df = pd.DataFrame(data, columns= columns)
print(df)

['id', 'name', 'age', 'sex', 'bmi', 'children', 'smoker', 'region', 'expenses']
   id        name   age     sex   bmi  children smoker     region  expenses
0   1   Narendran  35.0    male  28.0       1.0    yes  southeast  19530.14
1   2        Raja  34.0    male  34.0       2.0     no  southwest   7421.99
2   3      Venkat  34.0    male  23.0       2.0     no  northwest   7743.09
3   4       Bujji  34.0    male  25.0       3.0    yes  northeast  18971.59
4   5     Tanweer  28.0    male  26.0       1.0    yes  northeast  18243.19
5   6     Lalitha  28.0  female  25.0       2.0     no  southeast   6880.09
6   7     Shakila  45.0  female  34.0       8.0    yes  southwest  41737.65
7   8  Saran Kili  35.0    male  30.0       5.0    yes  northwest  32592.39

## Mongo Database:

In [1]:
import pymongo
username = "insurance"
password = "root_insurance"

url = f"mongodb+srv://{username}:{password}@cluster0.plgldst.mongodb.net/?retryWrites=true&w=majority"
client = pymongo.MongoClient(url)
database = client["insurance_db"]
collection = database["insurance_tab"]

In [9]:
# list_insert = {"name": "Narendran",
#             "age": 35,
#             "sex": "male",
#             "bmi": 28,
#             "children": 1,
#             "smoker": "no",
#             "region": "southeast",
#             "expenses": 8989,
# }

In [10]:
# collection.insert_one(list_insert)

In [2]:
for i in collection.find():
    print(i)

{'_id': ObjectId('656f8460ea7ee4ce5e7f2789'), 'name': 'Narendran', 'age': 35, 'sex': 'male', 'bmi': 28, 'children': 1, 'smoker': 'yes', 'region': 'southeast', 'expenses': 20113.96}
{'_id': ObjectId('656f84a2ea7ee4ce5e7f278b'), 'name': 'Raja', 'age': 34, 'sex': 'male', 'bmi': 34, 'children': 2, 'smoker': 'no', 'region': 'southwest', 'expenses': 7188.64}
{'_id': ObjectId('656f8507ea7ee4ce5e7f278d'), 'name': 'Venkat', 'age': 34, 'sex': 'male', 'bmi': 23, 'children': 2, 'smoker': 'no', 'region': 'northwest', 'expenses': 7553.01}
{'_id': ObjectId('656f8573ea7ee4ce5e7f278f'), 'name': 'Bujji', 'age': 34, 'sex': 'male', 'bmi': 25, 'children': 3, 'smoker': 'yes', 'region': 'northeast', 'expenses': 19167.14}
{'_id': ObjectId('656f85a3ea7ee4ce5e7f2791'), 'name': 'Tanweer', 'age': 28, 'sex': 'male', 'bmi': 26, 'children': 1, 'smoker': 'yes', 'region': 'northeast', 'expenses': 18267.51}
{'_id': ObjectId('656f85d6ea7ee4ce5e7f2793'), 'name': 'Lalitha', 'age': 28, 'sex': 'female', 'bmi': 25, 'children': 2, 'smoker': 'no', 'region': 'southeast', 'expenses': 6718.01}
{'_id': ObjectId('656f8602ea7ee4ce5e7f2795'), 'name': 'Saran Kili', 'age': 35, 'sex': 'male', 'bmi': 30, 'children': 5, 'smoker': 'yes', 'region': 'northwest', 'expenses': 32592.39}
{'_id': ObjectId('656f8637ea7ee4ce5e7f2797'), 'name': 'Haritha', 'age': 34, 'sex': 'female', 'bmi': 34, 'children': 4, 'smoker': 'no', 'region': 'southwest', 'expenses': 7915.03}
{'_id': ObjectId('656f86b6ea7ee4ce5e7f2799'), 'name': 'Munish', 'age': 36, 'sex': 'male', 'bmi': 30, 'children': 2, 'smoker': 'yes', 'region': 'northeast', 'expenses': 32592.39}
{'_id': ObjectId('656f8781ea7ee4ce5e7f279b'), 'name': 'Karthick', 'age': 37, 'sex': 'male', 'bmi': 32, 'children': 2, 'smoker': 'yes', 'region': 'northwest', 'expenses': 39232.63}
{'_id': ObjectId('656f89e90444dd933fe22244'), 'name': 'Mohandas', 'age': 65, 'sex': 'male', 'bmi': 28, 'children': 2, 'smoker': 'yes', 'region': 'southwest', 'expenses': 26545.37}

In [12]:
# collection.update_many({"age": 35}, {"$set": {"age": 30}})

In [14]:
# collection.drop()